In [1]:
import json
import pandas as pd
def table_to_df(table_str):
    table = json.loads(table_str)
    df = pd.DataFrame(table['values'], columns=table['headers'])
    return df

In [6]:
table_to_df('{"headers":["Id","Client_Id","Driver_Id","City_Id","Status","Request_at","Users_Id","Banned","Role","Users_Id","Banned","Role"],"values":[[1,1,10,1,"completed","2013-10-01",1,"No","client",10,"No","driver"],[5,1,10,1,"completed","2013-10-02",1,"No","client",10,"No","driver"],[9,3,10,12,"completed","2013-10-03",3,"No","client",10,"No","driver"],[2,2,11,1,"cancelled_by_driver","2013-10-01",null,null,null,11,"No","driver"],[6,2,11,6,"completed","2013-10-02",null,null,null,11,"No","driver"],[3,3,12,6,"completed","2013-10-01",3,"No","client",12,"No","driver"],[7,3,12,6,"completed","2013-10-02",3,"No","client",12,"No","driver"],[8,2,12,12,"completed","2013-10-03",null,null,null,12,"No","driver"],[4,4,13,6,"cancelled_by_client","2013-10-01",4,"No","client",13,"No","driver"],[10,4,13,12,"cancelled_by_driver","2013-10-03",4,"No","client",13,"No","driver"]]}')

,Id,Client_Id,Driver_Id,City_Id,Status,Request_at,Users_Id,Banned,Role,Users_Id,Banned,Role
0,1,1,10,1,completed,2013-10-01,1.0,No,client,10,No,driver
1,5,1,10,1,completed,2013-10-02,1.0,No,client,10,No,driver
2,9,3,10,12,completed,2013-10-03,3.0,No,client,10,No,driver
3,2,2,11,1,cancelled_by_driver,2013-10-01,NaN,None,None,11,No,driver
4,6,2,11,6,completed,2013-10-02,NaN,None,None,11,No,driver
5,3,3,12,6,completed,2013-10-01,3.0,No,client,12,No,driver
6,7,3,12,6,completed,2013-10-02,3.0,No,client,12,No,driver
7,8,2,12,12,completed,2013-10-03,NaN,None,None,12,No,driver
8,4,4,13,6,cancelled_by_client,2013-10-01,4.0,No,client,13,No,driver
9,10,4,13,12,cancelled_by_driver,2013-10-03,4.0,No,client,13,No,driver

In [7]:
table_to_df('{"headers":["Id","Client_Id","Driver_Id","City_Id","Status","Request_at","Users_Id","Banned","Role","Users_Id","Banned","Role"],"values":[[1,1,10,1,"completed","2013-10-01",1,"No","client",10,"No","driver"],[3,3,12,6,"completed","2013-10-01",3,"No","client",12,"No","driver"],[4,4,13,6,"cancelled_by_client","2013-10-01",4,"No","client",13,"No","driver"],[5,1,10,1,"completed","2013-10-02",1,"No","client",10,"No","driver"],[7,3,12,6,"completed","2013-10-02",3,"No","client",12,"No","driver"],[9,3,10,12,"completed","2013-10-03",3,"No","client",10,"No","driver"],[10,4,13,12,"cancelled_by_driver","2013-10-03",4,"No","client",13,"No","driver"]]}')

,Id,Client_Id,Driver_Id,City_Id,Status,Request_at,Users_Id,Banned,Role,Users_Id,Banned,Role
0,1,1,10,1,completed,2013-10-01,1,No,client,10,No,driver
1,3,3,12,6,completed,2013-10-01,3,No,client,12,No,driver
2,4,4,13,6,cancelled_by_client,2013-10-01,4,No,client,13,No,driver
3,5,1,10,1,completed,2013-10-02,1,No,client,10,No,driver
4,7,3,12,6,completed,2013-10-02,3,No,client,12,No,driver
5,9,3,10,12,completed,2013-10-03,3,No,client,10,No,driver
6,10,4,13,12,cancelled_by_driver,2013-10-03,4,No,client,13,No,driver